# Core Kafka dependencies
confluent-kafka==2.10.1
kafka-python==2.2.11

# Database
pymongo==4.6.1
sqlalchemy==2.0.23
psycopg2-binary==2.9.10
pyodbc==5.0.1

# System monitoring
psutil==5.9.8

# Data processing
tqdm==4.66.2

# Configuration
python-dotenv==1.0.1
kaggle==1.7.4
